.item {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #17395c;
}

.image img {
  width: 80px;
}

.name {
  font-weight: bold;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

:global(.gl-mobile) .item {
  height: inherit;
  display: grid;
  grid-template-columns: 30% 33%;
  grid-template-rows: 60px 60px;
  column-gap: 10px;
  row-gap: 15px;
}