.logo {
  font-family: 'Press Start 2P';
  font-size: 21.5px;
  margin-right: 40px;
}

.logoStart {
  color: #31386c;
}

.logoEnd {
  color: #ec2634;
}

:global(.gl-mobile) .logo {
  font-size: 18px;
  margin-right: 0;
}
