.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 36.5px;
  color: #2b3263;
  font-family: MontserratBold;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 48px;
}

:global(.gl-mobile) .header  h1{
  text-align: center;
}

:global(.gl-mobile) .header a {
  display: none;
}