.header {
  padding: 32px;
}

.logo {
  font-family: 'Press Start 2P';
  font-size: 46px;
}

.logoStart {
  color: #17395c;
}

.icons a {
  width: 30px !important;
  height: 30px !important;
}

.logoEnd {
  color: #C24229;
}

.phone {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  font-size: 26px;
  color: #C24229;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}