.header {}

.workingHours {
  font-size: 12.5px;
  color: #2b3263;
  font-weight: bold;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headerTop {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTop:last-child {
  height: 75px;
}

.divider {
  border-bottom: 1px solid #e3e5f3;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu>div:first-child {
  margin-right: 40px;
}
