.layout {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 1232px;
}

:global(.gl-mobile) {
  min-width: 100%;
  max-width: 100%;
}
