.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14.5px;
  margin: 16px auto;
  padding-left: 0;
}

.menuItem {
  font-weight: bold;
  margin-right: 40px;
}

.menuItem:last-child {
  margin-right: 0;
}

.active{
  color: #ec2634 !important;
}

:global(.gl-mobile) .menu {
  display: none;
}
