.table {
  width: 1100px;
  text-align: center;
  border-collapse: collapse;
}

.table thead {
  font-weight: bold;
  font-size: 24px;
}

.table thead td {
  padding: 0px 24px 24px 24px;
}

.table tbody tr  {
  border-bottom: 1px solid #787878;
}

.table tbody tr:first-child {
  border-top: 1px solid #787878;
}

.table tbody td {
  padding: 0 32px;
}

.table tbody td:first-child {
  padding: 0;
}

.table tbody td:last-child {
  padding-left: 32px;
}

.total {
  margin-top: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total div {
  margin-right: 32px;
  font-size: 32px;
}

.total div span {
  color: #C24229;
  font-weight: bold;
}

.button {
  padding: 8px 16px;
  background-color: #C24229;
  color: white;
  font-size: 24px;
}

.checkout {
  width: 920px;
  display: flex;
  justify-content: center;
}

.checkout .section {
  width: 50%;
}

.checkout .section:first-child {
  margin-right: 32px;
}

.buttonWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: flex-end;
}

.checkout .section:first-child div {
  margin: 16px 0;
  font-size: 24px;
}

.resetButton {
  color: #C24229;
  background-color: white;
  border: 2px solid #C24229;
  margin-right: 16px;
}

.checkout .section:first-child div span {
  font-weight: bold;
}