.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #2b3263;
}

.about h2 {
  font-family: MontserratBold;
  font-size: 24px;
}

.about p {
  font-size: 16px;
  font-weight: bold;
  max-width: 540px;
  line-height: 1.63;
}

.aboutButton {
  margin-top: 48px;
}

.line {
  display: flex;
  justify-content: center;
}

.all {
  width: 100%;
  padding-bottom: 48px;
  border-bottom: 1px solid #d9dcee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}

.line:first-child {
  margin-top: 72px;
  border-bottom: 2px solid #d9dcee;
}

.line:first-child .section {
  padding-top: 0;
}

.line:last-child .section {
  padding-bottom: 0;
}

.section {
  width: 260px;
  font-size: 17.5px;
  font-family: MontserratBold;
  display: flex;
  justify-content:  flex-start;
  align-items: center;
  padding: 24px;
}

.section img {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  margin-right: 16px;
}

.section:first-child {
  border-right: 2px solid #d9dcee;
  padding-left: 0;
}

.section:last-child {
  padding-right: 0;
}

.banner {
  margin-top: 32px;
}

.banner img {
  border-radius: 3px;
  border: 1px solid #d9dcee;
}

:global(.gl-mobile) .banner {
  display: none;
}

:global(.gl-mobile) .about {
  flex-direction: column;
}

:global(.gl-mobile) .about h2 {
  text-align: center;
}

:global(.gl-mobile) .about > div {
  width: 100%;
}

:global(.gl-mobile) .line {
  border: none;
  flex-direction: column;
}

:global(.gl-mobile) .section {
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid #d9dcee;;
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

