.result {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.result h1 {
  margin-top: 96px;
  font-size: 36px;
  color: #ec2634;
  font-family: MontserratBold;
}

.result h3 {
  font-size: 23.5px;
  font-weight: bold;
  color: #2b3263;
}

.result h3 span {
  font-size: 30px;
  font-family: MontserratBold;
}

.result p {
  color: #2b3263;
  text-align: center;
}

.result a {
  color: white;
  font-size: 17.5px;
  background-color: #ec2634;
  border: 1px solid #ec2634;
  border-radius: 3px;
  padding: 16px 24px;
  margin-top: 80px;
}

.result a:hover {
  color: #ec2634;
  background-color: white;
}

.error h1 {
  color: #2b3263;
}

.error div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error a:last-child {
  margin-left: 16px;
  font-size: 17.5px;
  border-radius: 3px;
  padding: 16px 24px;
  color: #ec2634;
  background-color: white;
  border: 1px solid #ec2634;
}

.error a:last-child:hover {
  color: white;
  background-color: #ec2634;
}
