.contactsForm {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.title {
  color: #2b3263;
  font-size: 24px;
  font-family: MontserratBold;
  margin: 0;
  margin-bottom: 40px;
}


.formItem {
  margin: 16px 0;
  display: flex; 
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
}

.formItem input, .formItem textarea {
  border: 1px solid #d9dcee;
  border-radius: 3px;
  font-family: MontserratBold;
  padding: 0 16px;
  height: 44px;
  width: 480px;
  font-size: 14.5px;
}

.formItem textarea {
  height: 90px;
  padding-top: 16px;
}

.errorWrapper input, .errorWrapper textarea {
  border: 1px solid #ec2634;
}

.errorWrapper input {
  border: 1px solid #ec2634;
}

.error {
  color: #ec2634;
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
  opacity: 0.8;
}

.captcha {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
}

.captcha div {
  display: flex;
  align-items: center;
}

.captcha img {
  height: 44px;
  border: 1px solid #d9dcee;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.captcha input {
  width: 240px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.captchaUpdate {
  color: #ec2634;
  margin-top: 8px;
  cursor: pointer;
  font-size: 12px;
  font-family: MontserratBold;
  text-decoration: underline;
}

.bottomPart {
  width: 100%;
}

.captchaBody {
  max-height: 34px;
  margin-top: 16px;
}

.agreement {
  display: flex;
  align-items: center;
  font-family: MontserratBold;
  font-size: 12px;
  color: #31386c;
  margin-bottom: 40px;
}

.agreement input {
  margin-left: 0;
  margin-right: 16px;
}

.agreement a {
  text-decoration: underline;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.submitButton {
  color: white;
  font-size: 17.5px;
  background-color: #ec2634;
  border: 1px solid #ec2634;
  border-radius: 3px;
  padding: 16px 24px;
}

.submitButton:hover {
  color: #ec2634;
  background-color: white;
}
