.cartMini {
  width: 355px;
  box-shadow: 0px 5px 25px 0 rgba(192, 194, 207, 0.7);
  border-radius: 3px;
  color: #2b3263;
}

.top {
  background-color: white;
  max-height: 290px;
  overflow-y: scroll;
}

.bottom {
  height: 84px;
  background-color: #ec2634;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  color: white;
}

.toCartButton {
  border-color: white !important;
}

.info div:first-child {
  font-size: 12px;
  margin-bottom: 8px;
}

.info div:last-child {
  font-size: 19.5px;
  font-family: MontserratBold;
}
