.counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eff1fb;
  height: 44px;
  border-radius: 3px;
}

.counter input {
  outline: none;
  text-align: center;
  border: none;
  background-color: inherit;
  width: 22px;
  font-size: 17.5px;
  font-family: MontserratBold;
}

.button {
  color: #2b3263;
  font-family: MontserratBold;
  font-size: 20.5px;
  padding: 24px;
  cursor: pointer;
  user-select: none;
}

.button:hover, .counter input {
  color: #ec2634;
}
