.wrapper {
  margin: auto;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #d9dcee;
}

.tab {
  background-color: white;
  color: #2b3263;
  outline: none;
  display: flex;
  justify-content: center;
  width: 220px;
  font-family: MontserratBold;
  font-size: 21px;
  padding-bottom: 16px;
  cursor: pointer;
  margin-bottom: -1px;
  border-bottom: 1px solid #d9dcee;
}

.tab:hover, .active{
  border-bottom: 3px solid #ec2634;
  color: #ec2634;
}

.content {
  margin-top: 32px;
  max-width: 800px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  color: #2b3263;
}
