.itemsList {
  width: 100%;
  margin: 32px 0;
}

.title {
  margin: auto;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  color: #31386c;
  font-family: MontserratBold;
}

.groupTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title a:first-child {
  color: #ec2634;
  text-decoration: underline;
}

.allButton {
  font-size: 14px !important;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
