.contactsForm {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.formItem {
  margin: 16px 0;
  display: flex; 
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
}

.formItem label {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.formItem input {
  padding: 0 8px;
  height: 30px;
  width: 600px;
  font-size: 16px;

}

.formItem textarea {
  height: 160px;
  width: 600px;
  padding: 8px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
  opacity: 0.8;
}

.submitButton {
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
  height: 50px;
  background-color: #C24229;
  color: white;
}