body {
  font-family: 'Roboto';
  margin: 0;
  background: #DCDCDC;
}

a, a:visited, a:active {
  color: #17395c;
  text-decoration: none;
}

a:hover {
  color: #C24229;
}

button {
  border: none;
  cursor: pointer;
}