@font-face {
  font-family: MontserratBold;
  src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(/fonts/PressStart2P-Regular.ttf);
}


.content {
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1200px;
}

.gl-mobile .content {
  min-width: 100%;
  max-width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  background: white;
}

a, a:visited, a:active {
  color: #2b3263;
  text-decoration: none;
}

a:hover {
  color: #ec2634;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

ul li::before {
  content: "\2022";
  color: #ec2634 !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 24px;
  margin-left: -1em; 
}

